html {
    font-size: 62.5%;
    background-color:#dff0f0;
}
body, input, select, textarea { 
    color: #191919;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
}
body a{
    margin-left: 10% ;
    padding: 10px 10px;
}
h1, h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: #191919;
    line-height: 15px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 32px;
    padding: 30px;
}
h2{
    font-size: 24px;
    margin-left: 0;
}
p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    }
form{
    display: block;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    background-color: #cee0f0;
}
.content label{
    text-align: left;
}
label
{
    display: block;
    width: 395px;
}
input
{
    display: block;
    border-radius: .25em;
    margin-top: 2px;
}
div{
    text-align: center;
}

#profil{
    position: absolute;
}
ul{
    list-style: none;
}
#quizz{
    display: inline-block;
}
.content{
    border: solid 1px;
    margin-top: 150px; 
}
.content a{
    margin-left: 0px;
}
body .content{
    background-color: #cee0f0;
}
.radio{
    display:inline;
}
.radio input {
    display: inline;
}
#valid{
    color: #191919;
    border: solid 1px;
}
.valid {
    display: inline-block;
    width:100px;
}
#profil {
    background-color: #cee0f0;
    border: solid 1px;
    width:200px;
    text-align: left;
}
#profil a{
    margin-left: 0px;
}